In [2]:
import numpy as np
import pandas as pd

In [3]:
match = pd.read_csv('..\Datasets\matches.csv')
delivery = pd.read_csv('..\Datasets\deliveries.csv')

In [5]:
#Unique values
#No of unique ipl teams so far

teams = delivery['batting_team']
teams.unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [6]:
#no of teams
teams.nunique()

19

In [8]:
#no of players
no_of_players  = delivery['batter']
no_of_players.nunique()

673

In [9]:
#names of columns

match.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [10]:
delivery.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [11]:
#to get some samples

match.sample(5)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
228,501252,2011,Jaipur,2011-05-11,League,S Aravind,Sawai Mansingh Stadium,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,9.0,147.0,20.0,N,NaN,HDPK Dharmasena,K Hariharan
1062,1426277,2024,Chennai,2024-04-23,League,MP Stoinis,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Lucknow Super Giants,Lucknow Super Giants,field,Lucknow Super Giants,wickets,6.0,211.0,20.0,N,NaN,NA Patwardhan,Tapan Sharma
458,829705,2015,Kolkata,2015-04-08,League,M Morkel,Eden Gardens,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,169.0,20.0,N,NaN,S Ravi,C Shamshuddin
1023,1370353,2023,Ahmedabad,2023-05-29,Final,DP Conway,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker
310,548370,2012,Mumbai,2012-05-16,League,SP Narine,Wankhede Stadium,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Kolkata Knight Riders,runs,32.0,141.0,20.0,N,NaN,S Das,BR Doctrove

In [13]:
delivery.sample(3)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
189563,1216535,1,Delhi Capitals,Mumbai Indians,10,4,RR Pant,RD Chahar,MP Stoinis,1,0,1,NaN,0,NaN,NaN,NaN
219486,1304094,1,Gujarat Titans,Punjab Kings,3,2,WP Saha,K Rabada,B Sai Sudharsan,0,4,4,legbyes,0,NaN,NaN,NaN
36242,419143,2,Rajasthan Royals,Kings XI Punjab,0,7,MJ Lumb,S Sreesanth,NV Ojha,0,0,0,NaN,0,NaN,NaN,NaN