In [2]:
import numpy as np
import pandas as pd

In [3]:
delivery = pd.read_csv('..\Datasets\deliveries.csv')

In [12]:
#accessing single column
delivery['batter']

0          SC Ganguly
1         BB McCullum
2         BB McCullum
3         BB McCullum
4         BB McCullum
             ...
260915        SS Iyer
260916        VR Iyer
260917        VR Iyer
260918        SS Iyer
260919        VR Iyer
Name: batter, Length: 260920, dtype: object

In [ ]:
#accessing multiple columns
delivery[['batter','batsman_runs']]

             batter  batsman_runs
0        SC Ganguly             0
1       BB McCullum             0
2       BB McCullum             0
3       BB McCullum             0
4       BB McCullum             0
...             ...           ...
260915      SS Iyer             1
260916      VR Iyer             1
260917      VR Iyer             1
260918      SS Iyer             1
260919      VR Iyer             1

[260920 rows x 2 columns]

In [30]:
# Get only Virat Kohli's runs (single column)
kohli_runs = delivery.loc[
    delivery['batter'] == 'V Kohli',
    'batsman_runs'
]

kohli_runs

132       0
133       0
134       1
137       0
138       0
         ..
260280    1
260282    1
260286    1
260287    0
260288    0
Name: batsman_runs, Length: 6236, dtype: int64

In [31]:
# Get multiple details when Virat Kohli is batting
kohli_details = delivery.loc[
    delivery['batter'] == 'V Kohli',
    ['batter', 'non_striker', 'batsman_runs']
]

kohli_details

         batter non_striker  batsman_runs
132     V Kohli    W Jaffer             0
133     V Kohli    W Jaffer             0
134     V Kohli    W Jaffer             1
137     V Kohli    W Jaffer             0
138     V Kohli    W Jaffer             0
...         ...         ...           ...
260280  V Kohli     C Green             1
260282  V Kohli     C Green             1
260286  V Kohli     C Green             1
260287  V Kohli     C Green             0
260288  V Kohli     C Green             0

[6236 rows x 3 columns]

In [32]:
# Get Virat Kohli's runs when AB de Villiers is the non-striker
kohli_with_ab = delivery.loc[
    (delivery['batter'] == 'V Kohli') & 
    (delivery['non_striker'] == 'AB de Villiers'),
    ['batter', 'non_striker', 'batsman_runs']
]

kohli_with_ab

         batter     non_striker  batsman_runs
44106   V Kohli  AB de Villiers             1
44112   V Kohli  AB de Villiers             0
44113   V Kohli  AB de Villiers             1
44840   V Kohli  AB de Villiers             0
44843   V Kohli  AB de Villiers             0
...         ...             ...           ...
191766  V Kohli  AB de Villiers             1
191767  V Kohli  AB de Villiers             2
191768  V Kohli  AB de Villiers             1
192633  V Kohli  AB de Villiers             1
192637  V Kohli  AB de Villiers             4

[1028 rows x 3 columns]

In [33]:
# Get all batters who have ever played for RCB
rcb_batters = delivery[delivery['batting_team'] == 'Royal Challengers Bangalore']

rcb_batters['batter'].unique()

array(['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis', 'CL White',
       'MV Boucher', 'B Akhil', 'AA Noffke', 'P Kumar', 'Z Khan',
       'SB Joshi', 'S Chanderpaul', 'LRPL Taylor', 'R Vinay Kumar',
       'B Chipli', 'DW Steyn', 'Misbah-ul-Haq', 'DT Patil', 'A Kumble',
       'J Arunkumar', 'SP Goswami', 'Abdur Razzak', 'JD Ryder',
       'KP Pietersen', 'RV Uthappa', 'R Bishnoi', 'KV Sharma',
       'Pankaj Singh', 'RE van der Merwe', 'MK Pandey', 'KP Appanna',
       'D du Preez', 'EJG Morgan', 'A Mithun', 'S Sriram', 'MA Agarwal',
       'TM Dilshan', 'AB de Villiers', 'SS Tiwary', 'AUK Pathan',
       'CA Pujara', 'JJ van der Wath', 'R Ninan', 'DL Vettori',
       'S Aravind', 'CH Gayle', 'J Syed Mohammad', 'M Kaif',
       'LA Pomersbach', 'KB Arun Karthik', 'CK Langeveldt', 'AB McDonald',
       'HV Patel', 'RR Bhatkal', 'M Muralitharan', 'P Parameswaran',
       'DT Christian', 'KK Nair', 'MC Henriques', 'M Kartik',
       'JD Unadkat', 'R Rampaul', 'KL Rahul', 'A Mukund', 'PA Patel',
       'NJ Maddinson', 'Yuvraj Singh', 'YV Takawale', 'JA Morkel',
       'S Rana', 'MA Starc', 'AB Dinda', 'VR Aaron', 'RR Rossouw',
       'YS Chahal', 'VH Zol', 'AN Ahmed', 'KD Karthik', 'Mandeep Singh',
       'DJG Sammy', 'SA Abbott', 'MS Bisla', 'D Wiese', 'Iqbal Abdulla',
       'SN Khan', 'SR Watson', 'KM Jadhav', 'TM Head', 'STR Binny',
       'KW Richardson', 'Sachin Baby', 'Parvez Rasool', 'CJ Jordan',
       'TS Mills', 'A Choudhary', 'Vishnu Vinod', 'P Negi', 'AF Milne',
       'S Badree', 'BB McCullum', 'Q de Kock', 'CR Woakes',
       'Washington Sundar', 'CJ Anderson', 'UT Yadav', 'Mohammed Siraj',
       'M Vohra', 'C de Grandhomme', 'TG Southee', 'M Ashwin', 'MM Ali',
       'SO Hetmyer', 'S Dube', 'Navdeep Saini', 'P Ray Barman',
       'MP Stoinis', 'AD Nath', 'H Klaasen', 'Gurkeerat Singh',
       'D Padikkal', 'AJ Finch', 'JR Philippe', 'CH Morris', 'I Udana',
       'Shahbaz Ahmed', 'RM Patidar', 'GJ Maxwell', 'KA Jamieson',
       'DR Sams', 'KS Bharat', 'PWH de Silva', 'GHS Garton', 'TH David',
       'F du Plessis', 'Anuj Rawat', 'SE Rutherford', 'DJ Willey',
       'SS Prabhudessai', 'Akash Deep', 'JR Hazlewood', 'MK Lomror',
       'MG Bracewell', 'WD Parnell', 'Vijaykumar Vyshak'], dtype=object)