In [8]:
import numpy as np
import pandas as pd

In [9]:
delivery = pd.read_csv('..\Datasets\deliveries.csv')

In [10]:
batting_performance = delivery.groupby(['batter'])['batsman_runs'].sum().reset_index()
batting_performance.rename(columns={'batsman_runs':'total_runs'},inplace=True)

In [17]:
#Top 5 batters based on total runs
batting_performance.sort_values(by='total_runs',ascending=False).head(5)

        batter  total_runs
631    V Kohli        8014
512   S Dhawan        6769
477  RG Sharma        6630
147  DA Warner        6567
546   SK Raina        5536

In [18]:
bowling_performance = delivery.groupby(['bowler'])['total_runs'].sum().reset_index()
bowling_performance.rename(columns={'total_runs':'runs_conceded'},inplace=True)

In [16]:
#Top 5 bowlers

bowling_performance.sort_values(by='runs_conceded',ascending=True).head(5)

            bowler  runs_conceded
24    AC Gilchrist              0
114      DA Warner              2
64   Atharva Taide              4
447      SPD Smith              5
38       AM Rahane              5